plural-apps-common:
  environment: "uat"
  replicaCount: 1
  image:
    registry: 305714281830.dkr.ecr.ap-south-1.amazonaws.com/app-images
    pullPolicy: IfNotPresent

  annotations:
    prometheus.io/enableAppMetrics: "true"
    prometheus.io/appPort: "5678" # Updated to match the new service port
    prometheus.io/metricsPort: "8889"
    prometheus.io/metricsPath: "/metrics"
    prometheus.io/jobName: "n8n-node" # Updated job name
    instrumentation.opentelemetry.io/inject-nodejs: last9/l9-instrumentation

  service:
    name: n8n-node-svc
    port: 80
    targetPort: 5678

  ingress:
    enabled: true
    className: "nginx-internal"
    name: "checkout-svc-intermal"
    annotations: {}
    hosts:
      - host: n8n-node-uat.v2.pinepg.in
        paths:
          - path: /
            pathType: Prefix
    tls: []

  resources:
    limits:
      cpu: 500m
      memory: 1000Mi
    requests:
      cpu: 500m
      memory: 1000Mi

  env:
    NODE_CONFIG_TS_ENV: uat
    ENV: "uat-aws"
    OTEL_SERVICE_NAME: "n8n-node-uat"
    OTEL_EXPORTER_OTLP_ENDPOINT: "https://otlp-aps1.last9.io:443"
    OTEL_EXPORTER_OTLP_AUTHORIZATION: "Basic cGluZWxhYnM6NWZiYmNkZDZlMTc1"
    OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
    OTEL_JAVA_GLOBAL_AUTOCONFIGURE_ENABLED: "true"
    OTEL_INSTRUMENTATION_HIKARICP_ENABLED: "true"
    OTEL_TRACES_EXPORTER: "none"
    OTEL_METRICS_EXPORTER: "prometheus"
    OTEL_LOGS_EXPORTER: "none"
    OTEL_TRACES_SAMPLER: "always_on"
    OTEL_RESOURCE_ATTRIBUTES: "deployment.environment=uat"
    OTEL_LOG_LEVEL: "error"
